<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            direction: rtl;
        }

        a {
            background-color: #0ead69;
            color: #fff;
            font-size: 14px;
            border-radius: 10px;
            padding: 10px;
        }
    </style>
</head>

<body>

    <h2>
        محصول یا مقاله ی جدیدی در سایت قرار گرفته است
    </h2>

    <a href="google.com">
        جهت مشاهده کلیک کنید
    </a>

</body>

</html>