{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
وبلاگ - فروشگاه آنلاین
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/weblog-main.css' %}">
{% endblock %}
{% block logo %}
<img src="{% static 'imgs/logo.jpg' %}" alt="logo" class="img-fluid logo-image">
{% endblock %}





{% block another_block %}
<!-- the banner of store -->
<div class="container-fluid mt-2">
    <div class="row diffrent-row">
        <div class="col-11 container-of-banner">
            <div class="banner-of-store">
                <div class="overly"></div>
                <div class="description-banner row d-flex align-items-center justify-content-center h-100">
                    <div class="col">
                        <h1 class="title-of-store">
                            مطالب فروشگاه
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-9 col-lg-4 col-md-6 col-sm-7 mx-auto container-search-content">
                <form action="" class="form-search-content">
                    <input type="search" class="form-control search-input-content " placeholder="جستجو ...">
                </form>
            </div> -->
</div>
{% endblock %}







{% block content %}
<main class="mt-5">
    <div class="container-of-content-stor" style="width: 91%; margin: 0 auto;">
        <div class="row g-5 diffrent-row">
            <div class="col-12 col-lg-9 col-md-12 col-sm-12">
                <div class="banner-of-main-section" style="background-image: url('{{ last_blog.image.url }}');">
                    <div class="overly-banner"></div>
                    <div class="description-banner">
                        <h1 class="description-banner-h1 text-lg-end text-md-end">
                            {{ last_blog.title }}
                        </h1>
                        <div class="col-12 col-lg-5">
                            <p class="description-banner text-lg-end text-md-end">
                                {{ last_blog.short_description }}
                            </p>
                        </div>
                        <p class="time-release text-lg-end">
                            <i class='far icon-time'>&#xf017;</i>
                            {{ last_blog.get_created_at_jalali }}
                        </p>
                    </div>

                </div>


                <div class="container-fluid mt-5">
                    <div class="row g-3 new-content flex-lg-wrap">
                        {% for blog in blog_item %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="item-content position-relative">
                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid image-content">
                                <p class="text-in-img"> مطالب آموزشی</p>
                                <a href="{{ blog.get_absolute_url }}" class="title-of-content">
                                    {{ blog.title }}
                                </a>
                                <p class="description-of-content">
                                    {{ blog.short_description }}
                                </p>
                                <div class="time-realse d-flex justify-content-between align-items-center">
                                    <p class="time-data-icon-realse d-flex align-items-center m-0">
                                        <i class='far'>&#xf017;</i>
                                        <span class="ms-2">{{ blog.get_created_at_jalali }}</span>
                                    </p>
                                    <a href="{{ blog.get_absolute_url }}" class="see-content-btn">ادامه مطلب</a>
                                </div>

                            </div>
                        </div>
                        {% endfor %}

                        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="item-content position-relative">
                                    <img src="./static/imgs/new-content/blog-new-4-min.jpg" alt=""
                                        class="img-fluid image-content">
                                    <a class="text-in-img d-inline-block"> مطالب آموزشی</a>
                                    <a href="#" class="title-of-content">
                                        خواص و مزایای بادام
                                    </a>
                                    <p class="description-of-content">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                        طراحان
                                        گرافیک
                                        است…
                                    </p>
                                    <div class="time-realse d-flex justify-content-between align-items-center">
                                        <p class="time-data-icon-realse d-flex align-items-center m-0">
                                            <i class='far'>&#xf017;</i>
                                            <span class="ms-2">19 شهریور , 1401</span>
                                        </p>
                                        <a href="#" class="see-content-btn">ادامه مطلب</a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="item-content position-relative">
                                    <img src="./static/imgs/new-content/blog-new-2-min.jpg" alt=""
                                        class="img-fluid image-content">
                                    <a class="text-in-img"> مطالب آموزشی</a>
                                    <a href="#" class="title-of-content">
                                        تفاوت درجه های گردو
                                    </a>
                                    <p class="description-of-content">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                        طراحان
                                        گرافیک
                                        است…
                                    </p>
                                    <div class="time-realse d-flex justify-content-between align-items-center">
                                        <p class="time-data-icon-realse d-flex align-items-center m-0">
                                            <i class='far'>&#xf017;</i>
                                            <span class="ms-2">19 شهریور , 1401</span>
                                        </p>
                                        <a href="#" class="see-content-btn">ادامه مطلب</a>
                                    </div>

                                </div>
                            </div> -->

                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-3 col-md-12 col-sm-12">
                <div class="join-section">
                    <span class="title-join-section">
                        عضویت در خبر نامه
                    </span>
                    {% if message %}
                    <div class="alert alert-success success-subscribe">
                        {{ message }}
                    </div>
                    {% endif %}

                    {% if form.non_field_errors %}
                    <div>
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <form method="post" class="join-form">
                        {% csrf_token %}
                        <!-- <input type="email" class="input-of-email" placeholder="پست الکترونیکی"> -->
                        {{ form.as_p }}
                        <button type="submit" class="joined-btn">
                            عضویت
                        </button>
                    </form>
                </div>


                <div class="aside-content mt-4">
                    <span class="title-aside-content-section">
                        جدیدترین مطالب
                    </span>

                    <div class="container-aside-content">
                        {% for blog in blog_item %}
                        <a href="{{ blog.get_absolute_url }}" class="blog-link-page" style="text-decoration: none;">
                            <div class="aside-content-item">
                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}"
                                    class="img-fluid image-aside-content-item">
                                <div>
                                    <p class="title-aside-content-item">
                                        {{ blog.title }}
                                    </p>
                                    <p class="time-realse-aside-content-item">
                                        {{ blog.get_created_at_jalali }}
                                    </p>

                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>

            </div>






        </div>
    </div>
</main>


<script>
    document.querySelectorAll('*').forEach(el => {
        if (el.scrollWidth > document.documentElement.clientWidth) {
            console.log("مشکل از این المان است:", el);
        }
    });

</script>
{% endblock %}