@font-face {
    font-family: 'iranyekanwebregular';
    src: url('../../static/fonts/iranyekanwebregular.ttf');
}

@font-face {
    font-family: 'IRANSansX-Black';
    src: url('../../static/fonts/IRANSansX-Black.woff');
}

@font-face {
    font-family: 'iranyekanwebbold';
    src: url('../../static/fonts/iranyekanwebbold.ttf');
}

@font-face {
    font-family: 'IRANSansX-Medium';
    src: url('../../static/fonts/IRANSansX-Medium.woff');
}

@font-face {
    font-family: 'IRANSansX-Light';
    src: url('../../static/fonts/IRANSansX-Light.woff');
}

@font-face {
    font-family: 'iranyekanwebmedium';
    src: url('../../static/fonts/iranyekanwebmedium.ttf');
}


@font-face {
    font-family: 'IRANSansX-Bold';
    src: url('../../static/fonts/IRANSansX-Bold.woff');
}


@font-face {
    font-family: 'iranyekanwebextrabold';
    src: url('../../static/fonts/iranyekanwebextrabold.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


html {
    direction: rtl;
}


.diffrent-row {
    margin: 0 !important;
}


.row{
    margin: 0 !important;
}

header {
    background-image: url('../imgs/header-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-height: 100%;
}




/* this section about main menu of website in the header */

/* the main menu and responsive menu section  */

.container-main-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.container-main-menu-logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-image {
    max-width: 180px;
}

.navbar-main-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar-main-menu-item {
    font-family: 'IRANSansX-Medium';
    font-size: 14px;
}

.navbar-main-menu-link {
    text-decoration: none;
    color: #000;
}

.navbar-main-menu-link:hover {
    color: #0ead69;
}

.selected {
    color: #0ead69;
}

.navbar-register-buy ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.navbar-register-buy-item {
    font-family: 'IRANSansX-Medium';
    font-size: 14px;
}

.navbar-register-buy-link {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.register-section-link {
    background-color: #0ead69;
    color: #fff;
    border: 1px solid #0ead69;
}


/* responsive menu */
.container-responsive-menu {
    display: none;
}

.responsive-menu-btn {
    border: none;
    background-color: #fff;
    outline: none;
    font-size: clamp(14px, 4vw, 24px);
}


.search-input {
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-family: 'iranyekanwebmedium';
    margin-bottom: 20px;
}

.responsive-menu-item {
    font-size: 16px;
    list-style: none;
    font-family: 'IRANSansX-Light';
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.responsive-menu-link {
    text-decoration: none;
    color: #000;
}

.basket-icon-section {
    text-align: left;
}

.logo-img-section {
    text-align: center;
}

.buy-section-btn {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    font-size: clamp(12px, 3vw, 20px);
}

.logo-img {
    max-height: 60px;
}

@media screen and (max-width:1100px) {
    .container-main-menu {
        display: none;
    }

    .container-responsive-menu {
        display: block;
    }

    /* .main-menu-section {
        display: none;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-btn {
        display: none;
    } */

    .sum-price-product {
        display: none;
    }

}


/* watermark text section */
.container-about-us-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    /* padding: 30px; */
}

.about-of-us-text-section {
    font-family: 'IRANSansX-Black';
    text-align: right;
    font-size: clamp(30px, 2vw, 60px);
    margin: 0;
    position: relative;
    z-index: 0;
}


.about-us-text {
    font-size: clamp(80px, 10vw, 130px);
    font-family: 'IRANSansX-Black';
    color: rgba(0, 0, 0, 0.1);
    font-weight: 400;
    white-space: nowrap;
    position: absolute;
    z-index: -1;
}


.container-description-about-us {
    margin: 0 auto;
}

.description-of-about-site {
    font-size: 14px;
    font-family: 'IRANSansX-Light';
    margin: 0px;
    margin-top: 15px;
}

.container-see-product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.see-all-products {
    color: #fff;
    text-decoration: none;
    background-color: #0ead69;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    font-size: clamp(14px, 2vw, 16px);
    align-items: center;
    font-family: 'iranyekanwebregular';
    text-align: center;
    max-width: fit-content;

}

.see-all-products:hover {
    transform: translateY(-8px);
    transition-duration: .8s;
}

.icon-see-all-products {
    transform: scaleX(-1);
}

.container-show-video-product {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/about-teaser-pic-min.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 100%;
    border-radius: 30px;
    position: relative;
}

/* video section */


.overly-video {
    max-width: 100%;
    border-radius: 30px;
    background-image: radial-gradient(ellipse at top, rgba(14, 173, 105, 0) 0%, black 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-link {
    text-decoration: none;
}

.play-video-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #696354;
    padding: 20px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

.play-video-button:hover {
    transform: translateY(-8px);
    transition-duration: .8s;
}

/* quality-text section  */
.container-quality-text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
}

.quality-text {
    font-family: 'IRANSansX-Light';
    font-size: 14px;
    text-align: left;
}


.container-dotter-img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.dotter-img {
    transform: rotate(150deg);
}


/* banner section after the category of product section  */


.container-banner-insta {
    margin: 10px 0px 100px 0px;
}

.banner-of-main-section {
    position: relative;
    background-image: url('../imgs/about-insta-bg-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
    margin-top: 50px;
    padding: 30px;
}

.banner-of-main-section-image {
    border-radius: 30px;
}

.overly {
    border-radius: 30px;
    background-image: linear-gradient(90deg, #0EAD6900 0%, #000000 110%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.description-banner {
    color: #fff;
    position: relative;
    z-index: 2;
}


.description-banner h1 {
    font-size: clamp(12px, 4vw, 20px);
    margin-bottom: 5px;
    /* padding: 5px; */
    font-family: 'IRANSansX-Bold';
}

.description-banner p {
    font-size: clamp(12px, 3vw, 14px);
    font-family: 'IRANSansX-Light';

}

.see-product-of-banner-btn {
    position: relative;
    z-index: 2;
    color: #fff;
    background-color: #0ead69;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    font-size: clamp(12px, 2vw, 14px);
    font-family: 'IRANSansX-Medium';
}

.see-product-of-banner-btn:hover {
    transform: translateY(-8px);
    transition: 0.4s;
}

.see-product-icon {
    font-size: clamp(12px, 2vw, 14px);
}




/* new content section */
.text-watermark {
    font-size: clamp(90px, 10vw, 120px);
    font-family: 'IRANSansX-Black';
    color: rgba(0, 0, 0, 0.1);
    font-weight: 400;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: -1;
    opacity: 0.3;
}

.title-of {
    z-index: 1;
    font-family: 'IRANSansX-Black';
    margin: 0px;
    margin-bottom: 2px;
}

.description-of {
    font-size: 13px;
    font-family: 'IRANSansX-Light';
    margin: 0px;
    margin-bottom: 50px;
}



/* new content item style */
.new-content-image {
    display: inline-block;
    object-fit: cover;

    border-radius: 15px;
    vertical-align: middle;
}

.description-of-new-content {
    background-color: #fff;
    position: relative;
    box-shadow: -5px 6px 12px 0 rgba(0, 0, 0, .05);
    border-radius: 15px;
    padding: 20px;
    width: 95%;
    margin: 0 auto;
    transform: translate(0%, -20%);

}

.description-of-new-content:hover {
    transform: translateY(-50px);
    transition: 0.4s;
}

.title-new-content {
    font-size: clamp(14px, 2vw, 18px);
    font-family: 'iranyekanwebbold';
}

.main-description-new-content {
    font-size: clamp(12px, 2vw, 14px);
    color: #737373;
    font-family: 'IRANSansX-Light';
    margin-top: 10px;
    line-height: 2;
}

.see-content-time {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: clamp(12px, 2vw, 14px);
}

.time-release {
    display: flex;
    gap: 5px;
    color: #737373;
    align-items: center;
    font-family: 'IRANSansX-Light';
    font-size: clamp(12px, 2vw, 14px);
}


.see-complete-content {
    text-decoration: none;
    color: #44c18c;
    background-color: #E9FFF5;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: 'iranyekanwebbold';
}


/* why buy from us section */
.container-why-section {
    color: white;
    background-color: black;
    background-image: url('../imgs/sale-Overlay-min.png');
    opacity: .8;
    padding: 80px 0px;
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}


.text-watermark-why {
    font-size: clamp(40px, 10vw, 80px);
    opacity: .1;
    z-index: -1;
    font-family: 'IRANSansX-Black';
}

.title-why-text {
    font-size: clamp(25px, 2vw, 30px);
    font-family: 'IRANSansX-Black';
    z-index: 1;
    position: absolute;
    margin: 0px;
}


.watermark-text-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.descritpion-why-buy {
    color: #fff;
    font-size: 14px;
    font-family: 'IRANSansX-Light';
    margin: 0px;
    margin-top: -2vw;
    margin-bottom: 3vw;
}


.icon-why-section {
    background-color: #fff;
    padding: 1rem;
    border-radius: 20px;
    width: 60px;
    height: 60px;
}

.icon-why-section:hover {
    transform: translateY(-15%);
    transition: .5s;
}

.ttiel-attribute {
    font-size: 18px;
    font-family: 'iranyekanwebextrabold';
    margin-top: 15px;
}

.description-attributs-section {
    font-size: 14px;
    color: #f0f0f0;
    font-family: 'IRANSansX-Light';
}

.container-go-store-btn{
    display: flex;
    align-items: center;
}

.go-store-link {
    color: #0ead69;
    font-size: 15px;
    font-family: 'IRANSansX-Bold';
    text-decoration: none;
}

.go-store {
    transform: scale(-1);
}

.container-go-store-btn:hover {
    transform: translateY(-30%);
    transition: .5s;
}




/*another data section of website  */


.another-data-of-website {
    background-color: #fff;
    padding: 2rem 2.625rem 2rem 2.625rem;
    box-shadow: -5px 6px 12px 0 rgba(0, 0, 0, .05);
    border-radius: 10px;
    transform: translate(0%, -50%);
}

.dotter-img {
    max-width: 100%;
    max-height: 60px;
}

@media screen and (max-width:400px) {
    .dotter-img {
        display: none;
    }
}

.text-help {
    color: #737373;
    font-family: 'iranyekanwebregular';
    font-size: clamp(12px, 2vw, 16px);
}

.exclamation {
    background-color: #D1D1D1;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.email-section {
    font-family: 'IRANSansX-Light';
    color: #737373;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: clamp(12px, 2vw, 16px);
}


.icon-email {
    background-color: #E9FFF5;
    color: #0ead69;
    padding: 5px;
    border-radius: 5px;
}


.phone-section {
    font-family: 'IRANSansX-Light';
    color: #737373;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: clamp(12px, 3vw, 16px);
}

@media screen and (max-width:480px) {
    .phone-section {
        justify-content: end;
    }
}

.icon-phone {
    transform: scaleX(-1);
    background-color: #E9FFF5;
    color: #0ead69;
    padding: 5px;
    border-radius: 5px;
}

/* footer section */

footer {
    background-color: #fafafa;
    margin-top: 200px;
}




.title-column-footer-section {
    font-size: 18px;
    font-family: 'IRANSansX-Black';

}


.span-title-column-footer-section {
    color: #0ead69;
}


.description-section-column-footer-section {
    color: #737373;
    margin-top: 15px;
    padding: 10px;
    font-family: 'IRANSansX-Light';
    font-size: 14px;

}


.icon-of-social-media {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    gap: 20px;

}

.icon-of-social-media a {
    color: #d6d3d3;
    background-color: #f9f9f9;
    font-size: 20px;
    cursor: pointer;
}

.icon-of-social-media a:hover {
    transform: translateY(-8px);
    transition: 0.5s;
}

.menu-of-footer {
    margin-top: 15px;
}

.menu-of-footer ul {
    margin-right: 25px;
}

.menu-of-footer-item {
    color: #0ead69;
    margin-bottom: 10px;
}

.menu-of-footer-link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'IRANSansX-Light';
    color: #727272;
}

.permissions-img {
    margin-top: 20px;
}


.underline {
    border-top: 1px solid #ddd;
    /* padding: 0px 50px 20px 0px; */
}

.copyright-text {
    padding: 0px;
    padding: 20px;
    margin: 0px;
    font-size: 12px;
}