@font-face {
    font-family: 'iranyekanwebregular';
    src: url('../../static/fonts/iranyekanwebregular.ttf');
}

@font-face {
    font-family: 'IRANSansX-Black';
    src: url('../../static/fonts/IRANSansX-Black.woff');
}

@font-face {
    font-family: 'iranyekanwebbold';
    src: url('../../static/fonts/iranyekanwebbold.ttf');
}

@font-face {
    font-family: 'IRANSansX-Medium';
    src: url('../../static/fonts/IRANSansX-Medium.woff');
}

@font-face {
    font-family: 'IRANSansX-Light';
    src: url('../../static/fonts/IRANSansX-Light.woff');
}

@font-face {
    font-family: 'iranyekanwebmedium';
    src: url('../../static/fonts/iranyekanwebmedium.ttf');
}


@font-face {
    font-family: 'IRANSansX-Bold';
    src: url('../../static/fonts/IRANSansX-Bold.woff');
}


@font-face {
    font-family: 'iranyekanwebextrabold';
    src: url('../../static/fonts/iranyekanwebextrabold.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    direction: rtl;
}



/* this section about main menu of website in the header */

/* the main menu and responsive menu section  */

.container-main-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

.container-main-menu-logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-image {
    /* flex: 0 0 20%; */
    max-width: 180px;
}

.navbar-main-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar-main-menu-item {
    font-family: 'IRANSansX-Medium';
    font-size: 14px;
}

.navbar-main-menu-link {
    text-decoration: none;
    color: #000;
}

.navbar-main-menu-link:hover {
    color: #0ead69;
}

.selected {
    color: #0ead69;
}

.navbar-register-buy ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.navbar-register-buy-item {
    font-family: 'IRANSansX-Medium';
    font-size: 14px;
}

.navbar-register-buy-link {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.register-section-link {
    background-color: #0ead69;
    color: #fff;
    border: 1px solid #0ead69;
}


/* responsive menu */
.container-responsive-menu {
    display: none;
}

.responsive-menu-btn {
    border: none;
    background-color: #fff;
    outline: none;
    font-size: clamp(14px, 4vw, 24px);
}


.search-input {
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-family: 'iranyekanwebmedium';
    margin-bottom: 20px;
}

.responsive-menu-item {
    font-size: 16px;
    list-style: none;
    font-family: 'IRANSansX-Light';
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.responsive-menu-link {
    text-decoration: none;
    color: #000;
}

.basket-icon-section {
    text-align: left;
}

.logo-img-section {
    text-align: center;
}

.buy-section-btn {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    font-size: clamp(12px, 3vw, 20px);
}

.logo-img {
    max-height: 60px;
}

@media screen and (max-width:1100px) {
    .container-main-menu {
        display: none;
    }

    .container-responsive-menu {
        display: block;
    }

    /* .main-menu-section {
        display: none;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-btn {
        display: none;
    } */

    .sum-price-product {
        display: none;
    }

}

a {
    text-decoration: none;
}

.form-title {
    font-size: 27px;
    line-height: 54px;
    font-family: 'iranyekanwebbold';
    color: #003751;
}



.form .register-form form,
.form .login-form form {
    display: flex;
    flex-direction: column;
}


.form {
    border-left: 1px solid #ddd;
    padding-left: 40px;
}

@media screen and (max-width: 992px) {
    .form {
        border-left: none;
        padding: 0px;
    }
}

label {
    font-family: 'iranyekanwebmedium';
    font-size: 14px;
    color: #003751;
    padding: 0px 5px;
    margin: 20px 0px 5px 0px;
}

label p {
    margin-bottom: 0px;
}

.register-input,
.login-input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: 'iranyekanwebmedium';
    color: #001430;
}


.form-btn {
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(14, 173, 105);
    width: 100%;
    font-family: 'iranyekanwebmedium';
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.form-description {
    font-family: 'iranyekanwebmedium';
    font-size: 14px;
    color: #001430;
    line-height: 22px;
}


.form-btn:hover {
    background-color: rgba(14, 173, 104, 0.658);

}

.change-btn-form {
    color: #fff;
    background-color: rgb(14, 173, 105);
    padding: 10px;
    border-radius: 10px;
    font-family: 'iranyekanwebmedium';
    font-size: 13px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    width: 80px;
    margin: 0 auto;
    outline: none;
    border: none;
}

.register-text-title {
    text-align: center;
}



@media screen and (max-width: 992px) {
    .container-form-section {
        margin-top: 50px;
    }
}

#form-login {
    display: none;
}

/* footer section */


/*another data section of website  */


.another-data-of-website {
    background-color: #fff;
    padding: 2rem 2.625rem 2rem 2.625rem;
    box-shadow: -5px 6px 12px 0 rgba(0, 0, 0, .05);
    border-radius: 10px;
    transform: translate(0%, -50%);
}

.dotter-img {
    max-width: 100%;
    max-height: 60px;
}

@media screen and (max-width:400px) {
    .dotter-img {
        display: none;
    }
}

.text-help {
    color: #737373;
    font-family: 'iranyekanwebregular';
    font-size: clamp(12px, 2vw, 16px);
}

.exclamation {
    background-color: #D1D1D1;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.email-section {
    font-family: 'IRANSansX-Light';
    color: #737373;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: clamp(12px, 2vw, 16px);
}


.icon-email {
    background-color: #E9FFF5;
    color: #0ead69;
    padding: 5px;
    border-radius: 5px;
}


.phone-section {
    font-family: 'IRANSansX-Light';
    color: #737373;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: clamp(12px, 3vw, 16px);
}

@media screen and (max-width:480px) {
    .phone-section {
        justify-content: end;
    }
}

.icon-phone {
    transform: scaleX(-1);
    background-color: #E9FFF5;
    color: #0ead69;
    padding: 5px;
    border-radius: 5px;
}


/* text in img */
.text-in-img {
    text-decoration: none;
    font-size: 12px;
    font-family: 'IRANSansX-Light';
    color: #fff;
    background-color: #000000A1;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    /* display: inline-block; */
    position: absolute;
    top: 150px;
    left: 30px;
}



/* footer section */

footer {
    background-color: #fafafa;
    margin-top: 150px;
}




.title-column-footer-section {
    font-size: 18px;
    font-family: 'IRANSansX-Black';

}


.span-title-column-footer-section {
    color: #0ead69;
}


.description-section-column-footer-section {
    color: #737373;
    margin-top: 15px;
    padding: 10px;
    font-family: 'IRANSansX-Light';
    font-size: 14px;

}


.icon-of-social-media {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    gap: 20px;

}

.icon-of-social-media a {
    color: #d6d3d3;
    background-color: #f9f9f9;
    font-size: 20px;
    cursor: pointer;
}

.icon-of-social-media a:hover {
    transform: translateY(-8px);
    transition: 0.5s;
}

.menu-of-footer {
    margin-top: 15px;
}

.menu-of-footer ul {
    margin-right: 25px;
}

.menu-of-footer-item {
    color: #0ead69;
    margin-bottom: 10px;
}

.menu-of-footer-link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'IRANSansX-Light';
    color: #727272;
}

.permissions-img {
    margin-top: 20px;
}


.underline {
    border-top: 1px solid #ddd;
    /* padding: 0px 50px 20px 0px; */
}

.copyright-text {
    padding: 0px;
    padding: 20px;
    margin: 0px;
    font-size: 12px;
}


.alert {
    margin-top: 10px !important;
    padding: 10px !important;
    font-family: 'IRANSansX-Black';
    font-size: 14px;
}

.alert p {
    margin: 0px !important;
}


#registerform input[type='password'] {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: 'iranyekanwebmedium';
    color: #001430;
}